.theme-sky {
  --primary-color: #fff;
  --primary-nav-bg: rgb(44 80 85 / 20%);
  --primary-nav-icon-color: rgb(240 249 255 / 70%);
  --primary-nav-icon-active-color: #2c5055;
  --primary-nav-icon-active-bg: rgb(205 225 225 / 50%);
  --primary-icon-folder-title-bg: rgb(236 235 235 / 45%);
  --primary-icon-folder-body-bg: rgb(240 249 255 / 70%);
}
